<!DOCTYPE html>
<html lang="en">
<head>

    <title>amortización</title>
</head>
<body>

    <h1>Register purchase</h1>
    <br>
    <h3>enter your purchase information: </h3>
    <br>
    <form action="/interface/insert/payment-plan">
        <div>
            Credit card number: <input type="text" name="card_number">
        </div>
        <div>
            Total purchase amount: <input type="number"  name="purchase_amount">
        </div>
        <div>

            Total number of quotas: <input type="number" name="payments">
        </div>
        <div>
            Date of purchase: <input type="date" name="purchase_date">
        </div>
        <input type="submit" value="save">
    </form>
</body>
</html>