<!DOCTYPE html>
<html lang="en">
<head>

    <title>Simular compra</title>
</head>
<body>
    <h1>Simulate purchase</h1>
    <h3>enter the data to make the purchase: </h3>
    <br>
    <form action="/interface/insert/simulate-purchase">
        <div>
            Card number : <input type="text" name="card_number">
        </div>
        <div>
            Total purchase amount: <input type="number" name="purchase_amount">
        </div>
        <div>
            Total number of quotas: <input type="number" name="payments">
        </div>
        <input type="submit" value="Save">
    </form>
</body>
</html>